<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Variables Template DJANGO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Variables</h1>

        <p>Her first name was {{first_name}} her last name was {{last_name}}</p>
        {# THIS IS A COMMENT #}
        
        
        <script src="" async defer></script>
    </body>
</html>