body {
    font-family: "Kanit", sans-serif;   
    background-color: #e3fffc;
    font-size: 14px;
}
  
.div-title {
    text-align: center;
    margin-bottom: 25px;
}

#title-header {
    margin-bottom: 0px;
}

#supporting-header {
    margin-top: 3px;
}

hr {
    color: #778899;
    height: 2px;
    background-color: #778899;
}
.div-spectrum {

}

#spectrum-table {
    border-spacing: 10px;
    margin: auto;
}

tr td {
    height: 300px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid black;
}

#first-color {
    background-color: #6622CC;
}

#second-color {
    background-color: #A755C2;
}

#third-color {
    background-color: #B07C9E;
}

#fourth-color {
    background-color: #B59194;
}

#fith-color {
    background-color: #D2A1B8;
}
footer p span {
    font-style: italic;
    font-weight: 500;
}

footer {
    margin-bottom: 0px;
    
}

footer p {
    color: gray;
    text-align: center;
    font-size: 0.75em;
}