<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Level 2 - Templates Base HTML</title>
</head>
<body>
    <h3><a href="{% url 'my_app:variable' %}">variable</a></h3>
    <h3><a href=" {% url 'my_app:example' %} ">Example</a></h3>
    <h1>THIS IS OUTSIDE THE BLOCK IN BASE.HTML</h1>
    {% block content %}
    


    {% endblock content %}
    <h2>THIS IS BELOW THE BLOCK IN BASE.HTML</h2>
    
</body>
</html>