body { 
    background: #006b61;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size:16px;
    color: white;
}

.main-content {
    margin: 0 5% 0% 5%;
    padding-top: 0px;
    background: #011627 ;
    text-align: center; 
    height: 100%;
}

h1 {
    padding-top: 50px; 
    margin-top: 0px;
}

h2 {
    padding-bottom: 50px;
}

#top-paragraph {
    margin-top: 5%;
    
}

#bottom-paragraph {
    margin-top:7%;

}

.main-content-text {
    padding: 0% 20% 0% 20%;
}

#sign-up-form {
    font-size: 1em;
}

#submit-btn {
    border-radius: 10px;
    margin-bottom: 1%;
    background: #ff9f1c;
    font-size: 1.2em;
}
