<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %} {% endblock pagetitle %} | CBV</title>
</head>
<body>
    <div>   
        <ul>
            <li>
                <a href="{% url "thank_you" %}">Thank You</a>
            </li>
            <li>
                <a href="{% url "contact" %}">Contact</a>
            </li>
            <li>
                <a href="{% url "teacher_form" %}">Teacher From</a>
            </li>
            <li>
                <a href="{% url "teacher_list" %}">Teacher List</a>
            </li>
        </ul>
    </div>
    {% block content %}

    
    {% endblock content %}
</body>
</html>